configuration{
    modi: "window,combi,drun";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-combi: " 󰕘 All ";
    display-drun: " 󰀻 Apps ";
    display-window: " 󰖲 Windows ";
    sidebar-mode: true;
}

@theme "style"
