@define-color textcolor1 #F5ECD5;
@define-color textcolor2 #0a0a0a;
@define-color backgroundcolor #1A1F27;
@define-color backgroundcolor2 #f5f5f5;
@define-color bordercolor #f5f5f5;

* {
  font-family: "Roboto", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(3, 77, 72, 1) 0%,
    rgba(8, 47, 66, 1) 25%,
    rgba(2, 30, 47, 1) 50%,
    rgba(8, 47, 66, 1) 75%,
    rgba(3, 77, 72, 1) 100%
  );
  transition: background 0.5s ease-in-out;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
  font-size: 8px;
  color: @textcolor1;
  padding: 0px 2px;
  margin: 0px 15px 0px 0px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 3px 5px;
  transition: all 0.2s ease-in-out;
}
#workspaces button.active {
  font-size: 18px;
  padding: 0px 2px;
}

#workspaces button.inactive {
  font-size: 10px;
  padding: 0px 2px;
}

#workspaces button:hover {
  background: transparent;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  color: @textcolor1;
  font-size: 14px;
  margin: 0px 15px 0px 0px;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-arch-logo {
  background-image: url("./arch-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 25px 25px;
  padding: 15px 0px 15px 15px;
  margin: 0px 10px 0px 20px;}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  margin: 0px 20px 0px 0px;
  font-size: 18px;
  padding: 0px 13px 0px 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: @textcolor1;
  opacity: 0.8;
}

#memory {
  margin-right: 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  font-size: 14px;
  color: @textcolor1;
  margin: 0px 15px 0px 0px;
  font-weight: 600;
}

#custom-system {
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
  font-size: 14px;
  color: @textcolor2;
  padding: 2px 10px;
  margin: 0px 15px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  font-size: 14px;
  color: #009990;
  font-weight: 600;
}

#pulseaudio.muted {
  background-color: @backgroundcolor;
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  font-size: 14px;
  color: @textcolor1;
  margin: 0px 15px;
  font-weight: 600;
}

#network.ethernet {
  color: @textcolor1;
}

#network.wifi {
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  font-size: 14px;
  color: @textcolor1;
  padding: 2px 10px;
  margin: 0px 15px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  font-size: 12px;
  color: @textcolor1;
  padding: 2px 15px;
  margin: 0px 15px;
}

#battery.charging,
#battery.plugged {
  color: @textcolor1;
}

@keyframes blink {
  to {
    background-color: @backgroundcolor;
    color: @textcolor1;
  }
}

#battery.critical:not(.charging) {
  color: @textcolor3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
